<ol class="path">
  <li><%= link_to 'Clients', clients_path %></li>
</ol>

<h1><%= @client.name %></h1>

<ul class="menu">
  <li><%= link_to 'Edit Info', edit_client_path(@client) %></li>
  <li><%= link_to 'Projects', client_projects_path(@client) %></li>
  <li>Reports: <%= link_to 'Weekly', client_report_path(@client, :grouping => 'week')%> /
  <%= link_to 'Monthly', client_report_path(@client, :grouping => 'month')%></li>
  <% if @client.projects.size == 0 %>
    <li><%= link_to 'Delete', @client, method: :delete, data: { confirm: 'Are you sure?' } %></li>
  <% end %>
</ul>

<h2>Recent Events</h2>

<% if @events.size > 0 %>
  <table>
    <tr>
      <th>Project</th>
      <th>Start</th>
      <th>End</th>
      <th>Hours</th>
      <th>Comment</th>
      <th></th>
    </tr>

  <% @events.each do |event| %>
    <tr class="<%= cycle('odd', 'even') %>">
      <td><%= link_to event.project.title, [event.project.client, event.project] %></td>
      <td><%= event.start.to_s(:short) %></td>
      <td><% if !event.end.nil? %><%= event.end.to_s(:short) %><% else %>Ongoing<% end %></td>
      <td class="hours">
        <% end_time = event.end || Time.now %>
        <%= number_with_precision((end_time - event.start) / 3600, :precision => 2) %>
      </td>
      <td><%= truncate(event.comment, :length => 25, :separator => ' ') %></td>
      <td><%= link_to 'Show', event %></td>
    </tr>
  <% end %>
  </table>
<% else %>
  <p>No recent events!</p>
<% end %>
