<p id="notice"><%= notice %></p>

<p><b>Client:</b> <%= @event.project.client.name rescue 'N/A' %></p>

<p><b>Project:</b> <%= @event.project.title rescue 'N/A' %></p>

<p>
  <b>Start:</b>
  <%= @event.start %>
</p>

<p>
  <b>End:</b>
  <%= @event.end %>
</p>

<p>
  <b>Time (hours):</b>
  <%= number_with_precision((@event.end - @event.start) / 3600, :precision => 2) %>
</p>

<p>
  <b>Comment:</b>
  <%= @event.comment %>
</p>


<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Delete', @event, :method => :delete, :confirm => 'Are you sure?' %> |
<%= link_to 'Back', events_path %>
