<h1>Event Details</h1>

<p><b>Client:</b> <%= link_to @event.project.client.name, @event.project.client %></p>

<p><b>Project:</b> <%= link_to @event.project.title, client_project_path(@event.project.client, @event.project) %></p>

<p>
  <b>Start:</b>
  <%= @event.start %>
</p>

<p>
  <b>End:</b>
  <%= @event.end %>
</p>

<p>
  <b>Hours:</b>
  <%= number_with_precision((@event.end - @event.start) / 3600, :precision => 2) %>
</p>

<p>
  <b>Comment:</b>
  <%= @event.comment %>
</p>


<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Delete', @event, :method => :delete, :confirm => 'Are you sure?' %> |
<%= link_to 'Back', events_path %>
