<%= link_to 'Events', events_path %> &raquo;

<h1>Event Details</h1>

<p>
  <%= link_to 'Edit', edit_event_path(@event) %> &middot;
  <%= link_to 'Delete', @event, :method => :delete, :confirm => 'Are you sure?' %>
</p>

<p><b>Client:</b> <%= link_to @event.project.client.name, @event.project.client %></p>

<p><b>Project:</b> <%= link_to @event.project.title, client_project_path(@event.project.client, @event.project) %></p>

<p>
  <b>Start:</b>
  <%= @event.start %>
</p>

<p>
  <b>End:</b>
  <% if @event.end.present? %>
    <%= @event.end %>
  <% else %>
    Ongoing
  <% end %>
</p>

<p>
  <b>Hours:</b>
  <% if @event.end.present? %>
    <%= number_with_precision((@event.end - @event.start) / 3600, :precision => 2) %>
  <% else %>
    <%= number_with_precision((Time.now - @event.start) / 3600, :precision => 2) %>
  <% end %>
</p>

<p>
  <b>Comment:</b>
  <%= @event.comment %>
</p>
