<h1>Projects for <%= @client.name %></h1>

<table>
  <tr>
    <th>Title</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @projects.each do |project| %>
  <tr>
    <td><%= project.title %></td>
    <td><%= link_to 'Show', client_project_path(@client, project) %></td>
    <td><%= link_to 'Edit', edit_client_project_path(@client, project) %></td>
    <td><%= link_to 'Destroy', client_project_path(@client, project), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Project', new_client_project_path(@client) %>
