<ol class="path">
  <li><%= link_to 'Clients', clients_path %></li>
  <li><%= link_to @client.name, @client %></li>
</ol>

<h1>Projects</h1>

<p><%= link_to 'New', new_client_project_path(@client) %></p>

<% if @projects.size > 0 %>
  <table>
    <tr>
      <th>Title</th>
    </tr>

  <% @projects.each do |project| %>
    <tr class="<%= cycle('odd', 'even') %>">
      <td><%= link_to project.title, [@client, project] %></td>
    </tr>
  <% end %>
  </table>
<% else %>
  <p>No existing projects!</p>
<% end %>