<%= link_to 'Clients', clients_path %> &raquo;
<%= link_to @client.name, @client %> &raquo;
<%= link_to 'Projects', client_projects_path(@client) %> &raquo;

<h1><%= @project.title %></h1>

<ul class="menu">
  <li><%= link_to 'Edit Info', edit_client_project_path(@client, @project) %></li>
  <% if @project.events.size == 0 %>
    <li><%= link_to 'Delete', client_project_path(@client, @project), :method => :delete, :confirm => 'Are you sure?' %></li>
  <% end %>
</ul>

<h2>Recent Events</h2>

<% if @events.size > 0 %>
  <table>
    <tr>
      <th>Project</th>
      <th>Start</th>
      <th>End</th>
      <th>Time (hours)</th>
      <th>Comment</th>
      <th></th>
    </tr>

  <% @events.each do |event| %>
    <tr class="<%= cycle('odd', 'even') %>">
      <td><%= event.project.title rescue 'N/A' %></td>
      <td><%= event.start.to_s(:short) %></td>
      <td><% if !event.end.nil? %><%= event.end.to_s(:short) %><% else %>Ongoing<% end %></td>
      <td class="hours">
        <% end_time = event.end || Time.now %>
        <%= number_with_precision((end_time - event.start) / 3600, :precision => 2) %>
      </td>
      <td><%= truncate(event.comment, :length => 25, :separator => ' ') %></td>
      <td><%= link_to 'Show', event %></td>
    </tr>
  <% end %>
  </table>
<% else %>
  <p>No recent events!</p>
<% end %>

