<!DOCTYPE html>
<html>
<head>
  <title>Work Timer</title>
  <%= stylesheet_link_tag 'scaffold', 'main' %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
  <% if flash[:notice] %>
    <div id="flash"><%= flash[:notice] %></div>
  <% end %>

  <div id="status">
    <%= render 'events/current', :current_events => current_events %>
  </div>
  
  <div id="menu">
    <%= link_to 'Events', events_path %> &middot;
    <%= link_to 'Clients', clients_path %>
  </div>

  <div id="content">
    <%= yield %>
  </div>

  <div id="footer">
    Work Timer &middot;
    <a href="http://boonedocks.net/">boonedocks.net</a> &middot;
    <a href="http://twitter.com/#!/boonedocks">boonedocks on Twitter</a> &middot;
    <a href="http://github.com/boone/work_timer">Source Code</a>
  </div>

</body>
</html>
